/*底部信息*/
.footer>.footer_one{
  background-color: lightslategray;
  border-top: 2px solid #ff8800;
}
@media screen and (max-width:1200px){
  .footer>.footer_one{
  width:1200px;
  background: lightslategray;
	}
}
.footer>.footer_one>div{
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.footer>.footer_one>div:after{
  content: "";
  display: block;
  clear: both;
}
.footer>.footer_one>div>div{
  float: left;
  width: 20%;
  line-height: 25px;
}
.footer>.footer_one>div>div dl{
  padding-left: 20px;
}
.footer>.footer_one>div>div>dl>dt{
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer>.footer_one>div>div dl dd a,.footer>.footer_one>div>div dd{
  color: azure;
  font-family: "华文楷体";
  font-size: 14px;
}
.footer>.footer_one>div>div:nth-child(5) dl dd:nth-child(2){
  padding-bottom: 20px;
}
.footer>.footer_one>div>div dl dd a:hover{
  color: #ff8800;
}
.footer>.footer_two>div{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px dashed #6c6c6c;
  font-size: 14px;
  color: #6c6c6c;
}
.footer>.footer_two>div a{
  padding: 0 5px;
  color: #6c6c6c;
}
.footer>.footer_three>div{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #6c6c6c;
  font-size: 14px;
  font-family: 华文楷体;
  padding: 20px 0;
  line-height: 30px;
}
